<article{{attributes.addClass(classes)}}>
	<div class="lgd-container padding-horizontal">
		<div class="lgd-row flex-center">
			<div class="lgd-row__two-thirds">

				{% if node.localgov_news_categories.value %}
					<ul class="news-article__metadata-item news-article__metadata-item--categories" aria-label="{{ 'Article categories'|t }}">
						{% for key,value in node.localgov_news_categories.value %}
							<li class="news-article__category">
								{{ content.localgov_news_categories[key] }}
							</li>
						{% endfor %}
					</ul>
				{% endif %}

				<h1{{title_attributes.addClass('news-article__title')}}>
					{{ label }}
				</h1>

				<div class="news-article__metadata">
					<p class="publish-date">
						published
						<time datetime="{{ node.localgov_news_date.value }}" class="news-article__metadata-item news-article__metadata-item--date">
							{{ content.localgov_news_date.0['#markup']  }}
						</time>
					</p>
				</div>


				<div{{content_attributes.addClass('news-article__contentnode__content')}}>

					{{ content|without('localgov_news_date', 'localgov_news_categories', 'localgov_news_related') }}

					<div>
						<a class="button-link">Request a free infomation pack</a>
					</div>

					{% if node.localgov_news_related.value %}
						<h2 class="news-article__related-title">{{ 'Related news'|t }}</h2>
						{{ content.localgov_news_related }}
					{% endif %}

				</div>
			</div>
		</div>
	</div>
</article>
