<div class="three-column-container">
    <a class="three-column" href="{{content['field_link_1'][0]['#url']}}">
        <div>
            {{content['field_image_1']}}
        </div>
        <div class="three-col-text">
            {{content['field_text_1']}}
        </div>
    </a>
    <a class="three-column" href="{{content['field_link_2'][0]['#url']}}">
        <div>
            {{content['field_image_2']}}
        </div>
        <div class="three-col-text">
            {{content['field_text_2']}}
        </div>
    </a>
    <a class="three-column" href="{{content['field_link_3'][0]['#url']}}">
        <div>
            {{content['field_image_3']}}
        </div>
        <div class="three-col-text">
            {{content['field_text_3']}}
        </div>
    </a>
</div>
